<h1>Edit User</h1>
<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "Name", required: true %><br>
  <%= f.email_field :email, placeholder: "Email", required: true %><br><br>
  <%= f.submit %>
<% end %>