<div id="player-page">
    <h2 id="player-name-position"><%= "#{@player.full_name} - #{@player.position}" %></h2>
    <p id="player-team"><%= link_to @player.team.full_name, user_path(@player.user) %></p>
    <p id="player-espn"><%= link_to "ESPN Player Page", @player.espn_page, target: :blank %></p>
</div>
<br>
<button id="js-next-player" data-id="<%=@player.id%>">Next Player</button>